<div class="col-12">
  <div class="row">
    <button class="btn btn-primary btn-sm app-form-btn-text app-text-smaller" (click)="toggleAudio()">
      Play
    </button>
    <div class="app-text-1 app-text-smaller">
        {{ currentTimeFormatted }}/{{ fullTimeFormatted }}
    </div>
  </div>
  <div class="row">
  <div (click)="playbackSkip($event)" style="height: 15px; background: #666666; cursor: pointer;" [ngStyle]="{ width: playerWidthString }">
    <div style="height: 15px; background: #8888CC;" [ngStyle]="{ width: progress }">
    </div>
  </div>
  </div>
</div>
