<div class="d-flex container app-fullview-card justify-content-center align-items-center">
  <div class="col-6 shadow">

    <div class="row justify-content-center">
      <div class="col-12 py-3">
        <div class="row justify-content-center">
          <div class="app-text-1 app-text-medium">
            Login to Earresistible
          </div>
        </div>
      </div>
    </div>


    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-3 py-3">

      <div class="row py-2">
        <label for="username" class="app-text-1 app-text-smaller">Username/E-mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <strong>#</strong>
            </span>
          </div>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Username/E-mail"
            id="username"
            formControlName="username">
        </div>
      </div>

      <div class="row py-2">
        <label for="password" class="app-text-1 app-text-smaller">Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <strong>*</strong>
              </span>
              </div>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            id="password"
            formControlName="password">
        </div>
      </div>

      <div class="d-flex row mx-0 py-2 justify-content-between">
        <button
          type="submit"
          class="btn btn-primary my-1 app-text-1 app-text-white app-text-small"
          [disabled]="!loginForm.valid">
          Login
        </button>
        <button
          (click)="onSignup()"
          type="button"
          class="btn btn-primary my-1 app-text-1 app-text-white app-text-small">
          Sign Up
        </button>
      </div>

      <div class="d-flex flex-column">
        <button
          (click)="signInWithFB()"
          type="button"
          class="btn btn-primary fb-button my-1 app-text-1 app-text-white app-text-small">
          Login with Facebook
        </button>
      </div>

    </form>
  </div>
</div>
