<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Ear</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="profile" class="nav-link" *ngIf="isAuth">Profile</a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="isAuth">
      <a (click)="logout()" class="nav-link app-mouse-pointer">Logout</a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
      <a routerLink="login" class="nav-link">Login</a>
    </li>
    <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
      <a routerLink="signup" class="nav-link">Sign Up</a>
    </li>
  </ul>
</nav>
