<span *ngFor="let profile of profiles; let i = index">
<div class="row justify-content-center">
    <div class="col-4 col-md-3 col-lg-2">
      <div class="preview-image-cropper app-item-shadow-large">
          <img
            [routerLink]="['/profile', users[i].username]"
            [src]="profile.imagePath"
            class="preview-image my-2 mx-2"
            style="cursor: pointer;"
            [title]="profile.artistName">
      </div>
    </div>
    <div class="col-8 col-md-9 col-lg-10 py-2 px-5 px-sm-2">
      <div class="row">
          <span
            class="app-text-link app-text-small"
            [routerLink]="['/profile', users[i].username]"
            style="cursor: pointer;">
            {{ profile.artistName }}</span>
      </div>
      <div class="row">
          <span class="app-text-1 app-text-small">{{ getPreviewText(profile) }}</span>
      </div>
      <div class="row">
          <span class="app-text-1 app-text-smaller">{{ profile.plays }} plays</span>
      </div>
      <div class="row justify-content-center">
      </div>
    </div>
  </div>
</span>
