
<span *ngIf="!isLoadingTags">
<div class="row justify-content-center py-2">
  <div class="col-12">
    <div class="row justify-content-center align-items-center">
      <span
      *ngFor="let tag of tags; let i = index"
      class="app-tag-parent-size"
      [ngClass]="{'border border-danger': hoveredIndex === i}"
      (mouseenter)="onEnterTag(i)"
      (mouseleave)="onLeaveTag(i)">
        <button
          class="btn btn-danger btn-sm mx-1 app-text-1 app-text-tiny app-tiny-button"
          *ngIf="hoveredIndex === i"
          (click)="onDeleteTag(tag)">x</button>
        <span
          class="app-text-1 app-text-small px-3 app-tag-text"
          [ngStyle]="{ 'font-size': getFontSize(tag) }"
          [routerLink]="['/tag', tag.text]">{{ tag.text }}</span>
      </span>
    </div>
  </div>
</div>
<div class="row justify-content-center py-2" *ngIf="suggestedTags.length > 0 && tagForm.get('tag').value !== ''">
  <div class="col-12">
    <div class="row justify-content-center">
      <span class="app-text-1 app-text-smaller">Suggested tags:</span>
    </div>
    <div class="row justify-content-center align-items-center">
      <span *ngFor="let tag of suggestedTags">
        <span
          class="app-text-1 app-text-small px-3 app-tag-text app-suggested-tag"
          (click)="onClickSearchResult(tag.text)"
          style="cursor: pointer;">{{ tag.text }}</span>
      </span>
    </div>
  </div>
</div>
<form [formGroup]="tagForm" (ngSubmit)="onSubmit()" class="px-3 py-2">
    <div class="row py-2">
      <div class="col-4 offset-4">
        <div class="row justify-content-center">
          <input
            (input)="onInput($event)"
            type="text"
            name="tag"
            class="form-control-sm"
            placeholder="Post your tag here..."
            id="tag"
            formControlName="tag">
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="!tagForm.get('tag').valid && submitInvalid">
        <span class="app-text-form-warning app-text-tiny">Only alphanumerical characters allowed, 3 to 20 characters</span>
    </div>
</form>
</span>
<span *ngIf="isLoadingTags">
  <div class="row justify-content-center">
    <app-spinner></app-spinner>
  </div>
</span>
