<div class="row align-items-center">
  <div class="col-3">
    <div class="row justify-content-center py-4 px-3">
      <div class="release-image-cropper app-item-shadow-large">
        <img [src]="release.imagePath" class="release-image my-0 mx-0" [title]="release.name">
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="app-text-1 app-text-medium">
      {{ release.name }} <span *ngIf="isMe && !release.published" class="app-text-2 app-text-smaller">(Unpublished)</span>
    </div>
    <div class="app-text-1 app-text-small">
      {{ release.type }}
    </div>
    <div class="app-text-1 app-text-small">
      {{ release.releaseDate }}
    </div>
    <button
    *ngIf="isMe"
    class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
    (click)="removeRelease(release)">Delete</button>
    <button
    *ngIf="isMe && !release.published"
    class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
    (click)="publishRelease(release)">Publish</button>
    <button
    *ngIf="isMe"
    class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
    (click)="onAddSong(release)">Add Song</button></div>
</div>
<div class="container-fluid py-3" *ngIf="!isLoadingSongs">
  <div class="row" *ngFor="let item of release.items">
    <div class="col-3">
      <div class="row app-text-1 app-text-small align-items-center justify-content-end px-2" style="height: 100%;">
          {{ item.name }}
      </div>
    </div>
    <div class="col-7">
      <div class="row align-items-center px-2" style="height: 100%;">
        <app-audio-player [song]=item></app-audio-player>
      </div>
    </div>
    <div class="col-2" *ngIf="isMe">
      <button
      class="btn btn-primary btn-sm mx-3 my-2 px-0 app-form-btn-text"
      (click)="deleteSong(item)"><fa-icon [icon]="faTrash" class="mx-2 app-form-btn-icon"></fa-icon></button>
    </div>
  </div>
</div>
