<div class="container">
  <div class="row my-5">
    <div class="col-12 shadow-lg app-card">
      <div *ngIf="isLoadingProfile" class="col-12"><app-spinner></app-spinner></div>

      <div class="row align-items-center" *ngIf="!isLoadingProfile">
        <div class="col-4">
          <div class="row justify-content-center py-2">
            <div class="profile-image-cropper app-item-shadow-large">
              <img [src]="profile.imagePath" class="profile-image my-2 mx-2" [title]="profile.artistName">
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-9">
            <div class="app-text-1 app-text-large">
              {{ profile.artistName }}
            </div>
            <div class="app-text-1 app-text-medium" *ngIf="profile.description !== null">
              {{ profile.description }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.genre !== '' && profile.genre !== null" [title]="profile.subGenre">
              {{ profile.genre }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCity !== '' && profile.locationCountry !== ''">
              {{ profile.locationCity }}, {{ profile.locationCountry }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCity === ''">
                {{ profile.locationCountry }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCountry === ''">
                {{ profile.locationCity }}
            </div>
            </div>
            <div class="col-3" *ngIf="isMe">
              <div class="row justify-content-end">
              <button
                class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
                (click)="onEditProfile()">Edit</button>
              </div>
              <div class="row justify-content-end">
              <button
                class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
                (click)="onNewRelease()">Add release</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span *ngIf="!isLoadingReleases">
    <div class="row my-3" *ngFor="let release of profile.releases">
      <app-profile-item
        *ngIf="isMe || release.published"
        [release]="release"
        (itemUpdated)="updateProfile()"
        class="col-10 my-3 offset-1 shadow-lg app-card"></app-profile-item>
    </div>
  </span>
</div>
