<div class="container" *ngIf="!isLoadingProfile && !isLoadingMatches && !isLoadingReleases || partialMatchLoading" >
  <div class="row my-5">
    <div class="col-12 shadow-lg app-card">

      <div class="row align-items-center" *ngIf="!isLoadingProfile">
        <div class="col-4">
          <div class="row justify-content-center py-2">
            <div class="profile-image-cropper app-item-shadow-large">
              <img [src]="profile.imagePath" class="profile-image my-2 mx-2" [title]="profile.artistName">
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-9">
            <div class="app-text-1 app-text-large">
              {{ profile.artistName }}
            </div>
            <div class="app-text-1 app-text-medium" *ngIf="profile.description !== null">
              {{ profile.description }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.genre !== '' && profile.genre !== null" [title]="profile.subGenre">
              {{ profile.genre }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCity !== '' && profile.locationCountry !== ''">
              {{ profile.locationCity }}, {{ profile.locationCountry }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCity === ''">
                {{ profile.locationCountry }}
            </div>
            <div class="app-text-1 app-text-small" *ngIf="profile.locationCountry === ''">
                {{ profile.locationCity }}
            </div>
            <div class="app-text-1 app-text-smaller" [innerHTML]="bioText | newline"></div>
            <button
              *ngIf="profile.bio.length > maxChar"
              class="btn btn-primary app-text-1 app-form-btn-text"
              (click)="toggleBio()">{{ bioBtnText }}</button>
            </div>
            <div class="col-3" *ngIf="isMe">
              <div class="row justify-content-end">
              <button
                class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
                (click)="onEditProfile()">Edit</button>
              </div>
              <div class="row justify-content-end">
              <button
                class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
                (click)="onNewRelease()">Add release</button>
              <button
                class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
                (click)="onDeleteAccount()">Delete account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-10 offset-1 shadow-lg app-card">
      <span *ngIf="userId">
        <app-tags
        [isMe]="isMe"
        [userId]="userId"></app-tags>
      </span>
    </div>
  </div>
  <div class="row my-5" *ngIf="matchingProfiles.length > 0 && foundMatched">
    <div class="col-10 offset-1 shadow-lg app-card">
      <div class="row justify-content-center">
          <span class="app-text-1 app-text-medium">Similar artists:</span>
      </div>
      <span *ngFor="let profile of matchingProfiles; let i = index">
        <div class="row justify-content-center">
          <div class="col-2">
            <div class="preview-image-cropper app-item-shadow-large">
                <img
                  [routerLink]="['/profile', matchingUsers[i].username]"
                  [src]="profile.imagePath"
                  class="preview-image my-2 mx-2"
                  style="cursor: pointer;"
                  [title]="profile.artistName">
            </div>
          </div>
          <div class="col-10 py-2">
            <div class="row">
                <span
                  class="app-text-link app-text-small"
                  [routerLink]="['/profile', matchingUsers[i].username]"
                  style="cursor: pointer;">
                  {{ profile.artistName }}</span>
            </div>
            <div class="row">
                <span class="app-text-1 app-text-small">{{ getPreviewText(profile) }}</span>
            </div>
            <div class="row justify-content-center">
            </div>
          </div>
        </div>
      </span>
      <div class="row justify-content-center" *ngIf="!partialMatchLoading && !noMoreMatchingArtists">
        <button
        class="btn btn-primary mx-3 my-2 app-text-1 app-form-btn-text"
        (click)="onLoadMoreSimilarArtists()"
        >
        Show more...
        </button>
      </div>
    </div>
  </div>
  <div class="row my-3" *ngFor="let release of profile.releases">
    <app-profile-item
      [release]="release"
      (itemUpdated)="updateProfile()"
      class="col-10 my-3 offset-1 shadow-lg app-card"></app-profile-item>
  </div>
</div>

<div class="container" *ngIf="isLoadingProfile || isLoadingMatches || isLoadingReleases" >
  <div class="row my-5">
    <div class="col-12 shadow-lg app-card">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>

