/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("./styles/images.css");
@import url("./styles/text.css");
@import url("./styles/tags.css");



/*
  General styles
*/

.app-item-shadow-large {
  box-shadow: 0px 0px 2rem rgba(110, 110, 172, 0.4);
}

.app-form-submit-btn {
  box-shadow: 0px 0px 0.5rem rgba(120, 120, 200, 1);
}

.app-form-submit-btn:hover:enabled {
  box-shadow: 0px 0px 0.5rem rgba(140, 140, 200, 1);
}


.app-tiny-button {
  padding: 0 5px;
  margin: 0 0;
}

.app-form-btn-icon {
  font-weight: 100;
}



.app-form-btn-danger {
  font-weight: 450;
  border: none;
  background: rgb(172, 58, 101);
  color: #FFFFFF;
}

.app-form-btn-danger:hover {
  background: rgb(170, 99, 126);
}


.app-card {
  background: rgba(100, 100, 140, 0.15);
  border-radius: 10px;
}

.fb-button {
  font-weight: 450;
  background: rgba(50, 103, 178, 1);
  border: none;
}
.fb-button:hover {
  background: rgba(50, 103, 178, 0.8);
}

.app-main-body, .mat-dialog-container {
  background: #222222;
}

.app-mouse-pointer {
  cursor: pointer;
}

.app-fullview-card {
  height: 90vh;
  width: 100vw;
}

