<div class="row justify-content-center py-2">
    <div class="col-12 text-center">
      <span class="app-text-1 app-text-large">Earresistible</span>
    </div>
  </div>
<br><br>
<div class="container">
  <div class="shadow-lg app-card">
    <app-top-tags></app-top-tags>
  </div>
</div>
<div class="container" *ngIf="!isAuth">
    <div class="shadow-lg app-card my-4 py-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="app-text-1 app-text-medium my-2">Artist/promoter? <span routerLink="/signup" class="app-mouse-pointer app-text-link">Sign up</span> to publish your music!</div>
          <div class="app-text-1 app-text-small">Already have an account? <span routerLink="/login" class="app-mouse-pointer app-text-link">Login</span> here</div>
        </div>
      </div>
    </div>
</div>
